################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/kasiyazica/.vs/kasiyazica
/kasiyazica/bin/Debug/net9.0-windows
/kasiyazica/obj
